.table-header {
  background-color: #4CAF50; /* Green header */
  color: white;
}

.table-row-active {
  background-color: #f0f8ff; /* Light blue for active rows */
}

.table-row-inactive {
  background-color: #ffcccc; /* Light red for inactive rows */
}

.table-row-active:hover {
  background-color: #d3d3f0; /* Lighter blue on hover for active rows */
}

.table-row-inactive:hover {
  background-color: #ffdcdc; /* Lighter red on hover for inactive rows */
}